@media only screen and (max-width: 1440px){
    
}
@media only screen and (max-width: 1199px){


}
@media only screen and (max-width: 991px){
    
}
@media only screen and (max-width: 768px){

    #yng-tables {
        margin-top: 30px;
    }

    #yng-tables {
        margin-top: 20px;
    }
    .factor-head .tbl-col-nm{
        padding: 5px
    }
    .table-wrap:hover .factor-head .tbl-col-nm{
        border-left-width: 3px;
        padding-left: 3px; 
    }
    .tbl-col{
        padding: 10px 10px 15px
    }
    .tbl-row-head h3{
        font-size: 20px;
    }
    .tbl-row-head p, .tbl-col-nm p {
        font-size: 14px;
    }
    .tbl-col-def p{
        font-size: 12px;
    }
}
@media only screen and (max-width: 575px){

    .tbl-col{
        padding: 5px
    }
    
    .tbl-col-nm h3{
        font-size: 14px;
    }
    .tbl-row-head h3{
        font-size: 16px;
    }
    .triangle{
        font-size: 24px;
        padding-right: 0;
    }
    .name-content {
        padding-left: 5px;
        padding-top: 6px;
    }

    .tbl-row-head p, .tbl-col-nm p{
        font-size: 12px;
    }
    .tbl-col-def p{
        font-size: 10px;
    }

}