*{
    font-family: aktiv-grotesk, sans-serif;
}
h1{
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 900;
    font-size: 60px;
    /* line-height: 1; */
}
button:focus{
    outline:none;
}
#content-wrap{
    flex-wrap: wrap;
}
#mapwrap{
    width: 50%;
    height: 100%;
    position: relative;
    transition: all 0.2s ease-in-out;
    border-left: 2px solid #f0e1da;
}
#upper-content{
    height: 100vh;
    min-height: 500px;
    display: flex;
    transition: all 0.2s ease-in-out;
    border-bottom: 2px solid #1A1A1A;
}
#lower-content{
    display: none;
}
#content-wrap.started #lower-content{
    display: block;
}
#content-wrap.started #upper-content{
    height: 70vh;
}
#map{
    width:100%;
    height: 100%;
    position: absolute;
}

#home-left-col{
    width:50%;
    /* padding: 20px 0; */
    overflow: scroll;
    display: flex;
    flex-direction: column;
    background-color: #1A1A1A;
}
.map-popup{
    text-align: center;
    min-width: 100px;
    max-width: 150px !important;
    /* color: #fff; */
}
.mapboxgl-popup-content{
    background-color: #fffffff5;
    box-shadow: #1A1A1A88 0 0 2px;
}
.mapboxgl-popup-tip{
    /* border-top-color: #fffffff5 !important; */
}
.map-popup .name{
    font-weight: 500;
    font-family: aktiv-grotesk-extended, sans-serif;
    border-bottom: 1px solid #f0e1da;
}
.map-popup .label{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 2px;
    text-shadow: #fff 0 0 5px;
    font-family: aktiv-grotesk-condensed, sans-serif;
}
.map-popup .pop-submit{
    background-color: transparent;
    border: none;
    text-decoration: underline;
    padding: 3px 10px;
    border-radius: 5px;
    font-family: aktiv-grotesk-extended, sans-serif;
}
.map-popup .pop-submit:hover{
    background-color: #1A1A1A;
    color: #f0e1da;
}
.map-popup p{
    margin-bottom: 5px;
}

#intro, #controls-wrap{
    padding:5% 30px 15px;
}
.started #intro, .started #controls-wrap{
    padding: 30px 15px;
}
#intro{
    background-color: #f0e1da;
    /* max-width:700px */
}
#intro a{
    color:unset;
    text-decoration: underline;
    border-radius: 2px;
    padding: 1px;
    font-style: italic;
    /* font-weight: 700; */
}
#intro a:hover{
    background-color: #1A1A1Af1;
    color: #f0e1da
}
#logo-bar{
    display: flex;
    background-color: #1A1A1A;
    padding: 0 20px;
}
.logo-wrap{
    width:30%;
    max-width: 200px;
    padding: 10px;
    align-self: center;
}
#uts-logo{
    width: 40%;
    max-width: 260px;
}
.logo-wrap img{
    width:100%;
}

#controls-container{
    flex-grow: 1;
}
#controls-wrap{
    background-color: #1A1A1A;
    color:#fff;
    
    transition: all 0.5s ease-in-out;
    position: relative;
}
.scrolled #controls-wrap{
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 10px 10px 5px;
    display: flex;
    top:0;
    left:0;
    border-bottom: 1px solid #f0e1da;
    opacity: 0.85;
}
.scrolled #controls-wrap:hover{
    opacity: 1;
}
.scrolled form.search{
    flex-grow: 1;
}
.scrolled .control-element{
    height: 30px;
    padding: 3px 6px;
    font-size: 12px;
}
.scrolled .switch{
    height: 30px;
}
.scrolled .switch .zip, .scrolled .switch .cty{
    top: 6px;
}
.scrolled .slider:after{
    height: 28px;
}
.scrolled .control-head{
    font-size: 10px;
}



.dropdown-menu{
    min-width: unset;
}
.dropdown-item{
    padding: 5px 15px;
}

.control-input{
    margin-bottom: 20px;
}
.scrolled .control-input{
    margin-bottom: 0px;
}
.control-head{
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
    /* padding-left: px; */
}
.control-element{
    height: 40px;
    padding: 5px 10px;
}
#search-bar{
    flex-grow: 1;
    position: relative;
    margin-right: 20px;
}
#main-input{
    width:100%;
    border-radius: 10px;
}
#selector-dropdown{
    position: absolute;
    right: 0;
    top:0;
}
#submit{
    background-color: #f0e1da;
    border-radius: 20px;
    font-family: aktiv-grotesk-extended, sans-serif;
    border: 1px solid #fff;
    padding: 0 30px;
}
#age-control, #geo-control{
    margin-right: 20px;

}
#ageGroups{
    border-radius: 10px;
}


/* Geography switch styles */
.switch {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 40px;
}
.switch input {display:none;}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1A1A1A;
    border: 1px solid #ddd
}
  
.slider:after {
    position: absolute;
    content: "";
    height: 38px;
    width: 50%;
    background-color: #f0e1da;
    -webkit-transition: all cubic-bezier(.19,.69,0,1) 0.6s;
    transition: all cubic-bezier(.19,.69,0,1) 0.6s;
}
#geoBtn:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}  
#geoBtn:checked + .slider:after {
    -webkit-transform: translateX(74px);
    -ms-transform: translateX(74px);
    transform: translateX(74px);
} 
  
.zip, .cty{
    color: #1A1A1A;
    position: absolute;
    top: 10px;
    font-size: 12px;
    font-weight: 500;
    z-index: 2;
    -webkit-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
    user-select: none;
    /* font-family: aktiv-grotesk-extended; */
}
#geoBtn:checked + .slider .cty{
    color: #f0e1da77;
}
#geoBtn:not(:checked) + .slider .zip{
    color: #f0e1da77;
}

.zip{
    right: 8px;
}
.cty{
    left: 8px;
}  
/* Rounded sliders */
.slider.round {
    border-radius: 10px;
}

.slider.round:after {
    border-radius: 9px;
}
/* Geography switch styles END */

.dashboard-layer{
    display: flex;
    padding: 30px 10%;
    justify-content: center;
}
.bg-dyno-color{
    background-color: #1A1A1A;
    color: #fff;
}
.text-dyno-color{
    color: #1A1A1A;
}
.disp-geo, .disp-age{
    font-weight: 700;
}
.layer-title{
    padding: 5px;
}
.layer-title p{
    margin-bottom: 0;
    font-size: 24px;
}
#risk-guide{
    padding: 5px 10%;
}
#risk-guide .layer-title{
    align-self: center;
}
#guide-chart{
    width:70%;
    max-width: 1000px;
}
#legend-title{
    font-size: 36px;
    line-height: 1.2;
}
.layer-title .tagline{
    font-size: 18px;
}

#legend-wrap{
    width:100%;
    padding-bottom: 30%;
    /* background-color: #eee; */
    overflow: hidden;
    position: relative;
    /* padding: 20px; */
}
#legend-svg{
    display: inline-block;
    position: absolute;
    top:0;
    left:0;
}
line.arrow{
    stroke-width: 1px;
}
.legend-axis text{
    font-family:  aktiv-grotesk-condensed, sans-serif;
    font-weight: 300;
}
.tick line{
    stroke-width: 0.5px;
}
#big-label{
    text-align: center;
    color: #fff;
}

#big-label h1{
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 0;
}
#big-label h1 span{
    font-weight: 900;
}

#score .layer-title{
    font-size: 24px;
    align-self: center;
    padding: 0 20px;
    max-width: 330px;
    text-align: right;
}
#score .layer-title span{
    font-weight: 700;
}
#score h1{
    margin-bottom: 0;
    font-size: 56px;
    align-self: center;
    padding: 10px;
    font-weight: 900;
}


#population{
    background-color: #eee;
}
#population h2{
    font-size: 24px;
    margin-bottom: 0;
    padding: 5px;
    font-weight: 300;
    text-align: center;
}
#population h2 span{
    font-weight: 700;
}
#pop-value{
    color:#eee;
    background-color: #1A1A1A;
    padding: 3px 6px;
    border-radius: 4px;
}

.factor-layer{
    padding: 0px 5%;
    justify-content: space-between;
    border-bottom: 1px solid rgba(221, 221, 221, 0);
    border-top: 1px solid rgba(221, 221, 221, 0);
    flex-wrap: wrap;
    transition: all 0.2s ease-in-out;
}
.factor-layer:hover{
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.factor-layer-drop:hover{
    box-shadow: #1A1A1A55 0 0 3px;
}
.factor_drop:hover .risk-title{
    text-decoration: underline;
}

.drop-wrap{
    width: 100%;
    /* padding-left: 20px */
}
.drop-wrap .factor-wrap:last-child .risk-factor{
    padding-bottom: 40px;
}
.drop-wrap .factor-wrap{
    border-top: 1px solid #eee;
    transition: all 0.2s ease-in-out;
}
.drop-wrap .factor-wrap:hover{
    background-color: rgba(244, 244, 244, 1);

}
/* .drop-wrap .factor-wrap:first-child{
    border-top: 1px solid #ddd;
} */
.factor-wrap{
    width: 100%;
    display: flex;
}
.factor_drop{
    cursor: pointer;
}
.factor-wrap .risk-title .fa-caret-right{
    transition: all 0.2s ease-in-out;
    transform: rotate(90deg)
}
.factor-wrap.collapsed .risk-title .fa-caret-right{
    transition: all 0.2s ease-in-out;
    transform: rotate(0)
}
.factor-layer:nth-child(even){
    background-color: rgba(244, 244, 244, 0.5);
}
.risk-factor{
    width: 80%;
    padding: 15px;
    display: flex;
}
.drop-wrap .risk-factor{
    padding: 5px;
}
.risk-level{
    display: flex;
    width: 20%;
    /* padding: 15px; */
    border-left: 1px solid #ddd;
}
.risk-level p{
    padding: 10px;
    align-self: center;
    margin-bottom: 0;
    width: calc(100% - 6px);
}
.risk-color{
    width: 6px;
    height: 100%;
}
#factor-head{
    background-color: #1A1A1A;
    color: #fff;
}
#factor-head .risk-level{
    padding: 15px;
}
.risk-title{
    width:30%;
    align-self: center;
}
.risk-title h3{
    font-size: 18px;
    padding-right: 20px;
    margin-bottom: 0;
}
.drop-wrap .risk-title{
    padding-left: 15px;
}
.drop-wrap h3{
    font-size: 14px;
    font-weight: 300;
}
.desc-tooltip{
    opacity: 0.7;
    cursor: pointer;
    font-size: 18px;
}
.drop-wrap .desc-tooltip{
    font-size: 14px;
}
.desc-tooltip:hover{
    opacity: 1;
}

.risk-chart{
    width: 70%;
}
.drop-wrap .risk-chart{
    /* width:60%; */
    padding: 0 5%;
}
.drop-wrap .risk-color{
    width: 3px;
    border-top:1px solid #ddd;
}
.rate-label{
    font-weight: 500;
    color: #1A1A1A;
}
.outside-text{
    font-size: 8px;
    font-weight: 300;
    font-family: aktiv-grotesk-condensed, sans-serif;
}
.state-med-rate{
    opacity:0;
    transition: all 0.2 ease-in-out;
}
.median-mark:hover .state-med-rate{
    opacity: 1;
}

.risk-svg-wrap{
    width: 100%;
    padding-bottom: 15%;
    position: relative;
    /* background-color: #ddd; */
}
p.nodata-chart{
    position: absolute;
    top: 40%;
    left:5%;
    margin-bottom: 0;
    font-size: 12px;
}
.risk-svg-wrap svg{
    position: absolute;
    top:0;
    left: 0;
}
.risk-svg-wrap .tick line{
    stroke: #888;
}
.risk-svg-wrap .tick text{
    fill: #666;
}



#main-input-ac-list{
    color: #fff;
    position: absolute
}
#main-input-ac-list div{
    padding: 5px 10px;
    background-color: #f0e1da0f;
}
#main-input-ac-list div:hover, #main-input-ac-list .autocomplete-active{
    background-color: #f0e1da2f;
}

.scrolled #main-input-ac-list div{
    background-color: #1A1A1Ad1;
}
.scrolled #main-input-ac-list div:hover, .scrolled #main-input-ac-list .autocomplete-active{
    background-color: #1A1A1Af1;
}


.bg-dyno-color, .text-dyno-color{
    transition: all 0.2s ease-in-out;
    text-shadow: #1A1A1Acc 0 0 2px;
}

.risk-atl .bg-dyno-color{
    -webkit-text-stroke: 1px #1A1A1A88;
}
.risk-atl .text-dyno-color{
    -webkit-text-stroke: 1px #1A1A1A88;
}

.risk-cl .bg-dyno-color{
    -webkit-text-stroke: 1px #1A1A1A88;
}
.risk-cl .text-dyno-color{
    -webkit-text-stroke: 1px #1A1A1A88;
}


.mapboxgl-ctrl-bottom-right{
    display: none;
}
.mapboxgl-marker path{
    fill: #1A1A1A;
    stroke: #f0e1da;
    stroke-width: 1;
}
.mapboxgl-marker circle{
    fill: #f0e1da
}