*{
    font-family: aktiv-grotesk, sans-serif;
}
h1{
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 900;
}
.content-wrap{
    flex-wrap: wrap;
}
#mapwrap{
    width: 50%;
    height: 100vh;
    position: relative;
}
#map{
    width:100%;
    height: 100%;
    position: absolute;
}
#legend{
    position: absolute;
    z-index: 2;
    bottom: 5px;
    left: 5px;
    min-width: 270px;
    background-color: #ffffffee;
    padding: 10px;
}
#home-left-col{
    width:50%;
}

.map-popup p{
    margin-bottom: 0;
}
.map-popup p{
    text-transform: capitalize;
}

#intro, #controls-wrap{
    padding: 20px;
}



.dropdown-menu{
    min-width: unset;
}
.dropdown-item{
    padding: 5px 15px;
}

.control-input{
    margin-bottom: 20px;
}
.control-head{
    display: block;
}
.control-element{
    height: 40px;
    padding: 5px 10px;
}
#search-bar{
    flex-grow: 1;
    position: relative;
    margin-right: 20px;
}
#search-input input{
    width:100%;
}
#selector-dropdown{
    position: absolute;
    right: 0;
    top:0;
}

#geo-switch{
    /* position: absolute; */
    z-index: 10;
    top:0
}















.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ca2222;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2ab934;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(55px);
  }
  
  /*------ ADDED CSS ---------*/
  .on
  {
    display: none;
  }
  
  .on, .off
  {
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
  }
  
  input:checked+ .slider .on
  {display: block;}
  
  input:checked + .slider .off
  {display: none;}
  
  /*--------- END --------*/
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;}





