*{
    font-family: aktiv-grotesk, sans-serif;
}
h1{
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 900;
    font-size: 60px;
    /* line-height: 1; */
}
#content-wrap{
    flex-wrap: wrap;
}
#content-wrap #mapwrap{
    width: 50%;
    height: 100%;
    position: relative;
    transition: all 0.2s ease-in-out;
}
#upper-content{
    height: 100vh;
    min-height: 500px;
    display: flex;
    transition: all 0.2s ease-in-out;
}
#lower-content{
    display: none;
}
#content-wrap.started #lower-content{
    display: block;
}
#content-wrap.started #upper-content{
    height: 60vh;
}
#map{
    width:100%;
    height: 100%;
    position: absolute;
}

#home-left-col{
    width:50%;
    padding: 20px 0;
    overflow: scroll;
}

.map-popup p{
    margin-bottom: 0;
}
.map-popup p{
    text-transform: capitalize;
}

#intro, #controls-wrap{
    padding: 20px;
}



.dropdown-menu{
    min-width: unset;
}
.dropdown-item{
    padding: 5px 15px;
}

.control-input{
    margin-bottom: 20px;
}
.control-head{
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
    /* padding-left: px; */
}
.control-element{
    height: 40px;
    padding: 5px 10px;
}
#search-bar{
    flex-grow: 1;
    position: relative;
    margin-right: 20px;
}
#search-input input{
    width:100%;
}
#selector-dropdown{
    position: absolute;
    right: 0;
    top:0;
}
#age-control{
    margin-right: 20px;
}


.dashboard-layer{
    display: flex;
    padding: 30px 10%;
    justify-content: center;
}
.bg-dyno-color{
    background-color: #1A1A1A;
    color: #fff;
}
.text-dyno-color{
    color: #1A1A1A;
}
.disp-geo, .disp-age{
    font-weight: 700;
}
.layer-title{
    padding: 5px;
}
.layer-title p{
    margin-bottom: 0;
    font-size: 24px;
}
#risk-guide{
    padding: 15px 10%;
}
#risk-guide .layer-title{
    align-self: center;
}
#guide-chart{
    width:70%;
    max-width: 1000px;
}
#legend-title{
    font-size: 36px;
    line-height: 1.2;
}
.layer-title .tagline{
    font-size: 18px;
}

#legend-wrap{
    width:100%;
    padding-bottom: 30%;
    /* background-color: #eee; */
    overflow: hidden;
    position: relative;
    /* padding: 20px; */
}
#legend-svg{
    display: inline-block;
    position: absolute;
    top:0;
    left:0;
}
line.arrow{
    stroke-width: 1px;
}
.legend-axis text{
    font-family:  aktiv-grotesk-condensed, sans-serif;
    font-weight: 300;
}
.tick line{
    stroke-width: 0.5px;
}
#big-label{
    text-align: center;
    color: #fff;
}

#big-label h1{
    font-size: 48px;
    font-weight: 500;
}
#big-label h1 span{
    font-weight: 900;
}

#score .layer-title{
    font-size: 24px;
    align-self: center;
    padding: 0 20px;
}
#score .layer-title span{
    font-weight: 700;
}
#score h1{
    margin-bottom: 0;
    font-size: 56px;
    align-self: center;
    padding: 10px;
    font-weight: 900;
}


#population{
    background-color: #eee;
}
#population h2{
    font-size: 24px;
    margin-bottom: 0;
    padding: 5px;
    font-weight: 300;
    text-align: center;
}
#population h2 span{
    font-weight: 700;
}

.factor-layer{
    padding: 0px 5%;
    justify-content: space-between;
    border-bottom: 2px solid #ddd;
    flex-wrap: wrap;
}

.drop-wrap{
    width: 100%;
    padding-left: 20px
}
.drop-wrap .factor-wrap:last-child .risk-factor{
    padding-bottom: 40px;
}
.drop-wrap .factor-wrap{
    border-top: 1px solid #ddd;

}
/* .drop-wrap .factor-wrap:first-child{
    border-top: 1px solid #ddd;
} */
.factor-wrap{
    width: 100%;
    display: flex;
}
.factor-layer:nth-child(even){
    background-color: rgba(244, 244, 244, 0.5);
}
.risk-factor{
    width: 80%;
    padding: 15px;
    display: flex;
}
.drop-wrap .risk-factor{
    padding: 5px;
}
.risk-level{
    display: flex;
    width: 20%;
    /* padding: 15px; */
    border-left: 1px solid #ddd;
}
.risk-level p{
    padding: 10px;
    align-self: center;
    margin-bottom: 0;
}
.risk-color{
    width: 10px;
    height: 100%;
}
#factor-head{
    background-color: #1A1A1A;
    color: #fff;
}
#factor-head .risk-level{
    padding: 15px;
}
.risk-title{
    width:30%;
    align-self: center;
}
.risk-title h3{
    font-size: 18px;
    padding-right: 20px;
    margin-bottom: 0;
}
.drop-wrap .risk-title{
    width:40%;
}
.drop-wrap h3{
    font-size: 14px;
    font-weight: 300;
}
.desc-tooltip{
    opacity: 0.7;
    cursor: pointer;
    font-size: 18px;
}
.drop-wrap .desc-tooltip{
    font-size: 14px;
}
.desc-tooltip:hover{
    opacity: 1;
}

.risk-chart{
    width: 70%;
}
.drop-wrap .risk-chart{
    width:60%;
    padding: 0 5%;
}
.drop-wrap .risk-color{
    width: 5px;
    border-top:1px solid #ddd;
}
.rate-label{
    font-weight: 500;
    color: #1A1A1A;
}
.state-med-rate{
    opacity:0;
    transition: all 0.2 ease-in-out;
}
.median-mark:hover .state-med-rate{
    opacity: 1;
}
.risk-svg-wrap{
    width: 100%;
    padding-bottom: 15%;
    position: relative;
    /* background-color: #ddd; */
}
.risk-svg-wrap svg{
    position: absolute;
    top:0;
    left: 0;
}
.risk-svg-wrap .tick line{
    stroke: #ccc;
}
.risk-svg-wrap .tick text{
    fill: #666;
}

.switch {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 40px;
}
  
.switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1A1A1A;
    /* -webkit-transition: .4s;
    transition: all cubic-bezier(.19,.69,0,1) 0.4s; */
    border: 1px solid #1A1A1A
  }
  
  .slider:after {
    position: absolute;
    content: "";
    height: 38px;
    width: 50%;
    /* left: 4px;
    bottom: 4px; */
    background-color: #FFF7E2;
    -webkit-transition: all cubic-bezier(.19,.69,0,1) 0.6s;
    transition: all cubic-bezier(.19,.69,0,1) 0.6s;
  }
  

  
  #geoBtn:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  #geoBtn:checked + .slider:after {
    -webkit-transform: translateX(74px);
    -ms-transform: translateX(74px);
    transform: translateX(74px);
  }
  
  /*------ ADDED CSS ---------*/
 
  
  .zip, .cty
  {
    color: #1A1A1A;
    position: absolute;
    top: 10px;
    font-size: 12px;
    font-weight: 500;
    z-index: 2;
    -webkit-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
    user-select: none;
    /* font-family: aktiv-grotesk-extended; */
  }
  #geoBtn:checked + .slider .cty{
    color: #FFF7E277;
  }
  #geoBtn:not(:checked) + .slider .zip{
    color: #FFF7E277;
  }

  .zip
  {
    right: 8px;
  }
  .cty{
      left: 8px;
  }  
  /* Rounded sliders */
  /* .slider.round {
    border-radius: 17px;
  }
  
  .slider.round:after {
    border-radius: 16px;
} */



#chart-test{
    width:50%;
    height: 200px;
}

#chart-test svg{
    width: 100%;
    height: 100%;
}

.bg-dyno-color, .text-dyno-color{
    transition: all 0.2s ease-in-out;
    text-shadow: #1A1A1Acc 0 0 2px;
}

.risk-atl .bg-dyno-color{
    -webkit-text-stroke: 1px #1A1A1A88;
}
.risk-atl .text-dyno-color{
    -webkit-text-stroke: 1px #1A1A1A88;
}

.risk-cl .bg-dyno-color{
    -webkit-text-stroke: 1px #1A1A1A88;
}
.risk-cl .text-dyno-color{
    -webkit-text-stroke: 1px #1A1A1A88;
}


.modal-dialog{
    background-color: #fff;
}


/* put these in the right place */
